<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Battery Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Bedroom</ion-label>
      <ion-note slot="end" color="primary">{{mqqtService.instance.getRoom('bedroom')}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Kitchen</ion-label>
      <ion-note slot="end" color="primary">{{mqqtService.instance.getRoom('kitchen')}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Dining Room</ion-label>
      <ion-note slot="end" color="primary">{{mqqtService.instance.getRoom('dining')}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Living Room</ion-label>
      <ion-note slot="end" color="primary">{{mqqtService.instance.getRoom('living')}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Toilet</ion-label>
      <ion-note slot="end" color="primary">{{mqqtService.instance.getRoom('toilet')}}</ion-note>
    </ion-item>

  </ion-list>
</ion-content>