<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Smart-Eldercare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-content>Status: <b>{{this.mqqtService.mqttStatus}}</b></ion-card-content>
  </ion-card>

  <ion-row justify-content-center align-items-center>
    <button ion-button (click)="connect()">Connect</button>
    <button ion-button (click)="disconnect()">Disconnect</button>
  </ion-row>

  <ion-card>
    <ion-card-header>Message Received:</ion-card-header>
    <ion-card-content>{{this.mqqtService.message}}</ion-card-content>
  </ion-card> -->


  <ion-text color="danger" style="text-align:center;">
    <h4>Status: {{mqqtService.mqttStatus}}</h4>
  </ion-text>


  <img src="{{locationImg}}" />
  <ion-card-header>
    <ion-card-subtitle>Last Seen {{locationTime}}</ion-card-subtitle>
    <ion-card-title>{{locationString}}</ion-card-title>
  </ion-card-header>
  
  <ion-button color="danger">Emergency</ion-button>
  <ion-button color="primary">Battery Status</ion-button>
  <ion-button color="primary">Connect</ion-button>


</ion-content>