<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Smart-Eldercare</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="refresh"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header text-center>
      # of Movements per room
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" shape="round" expand="full" (click)="updateData()">Update Chart</ion-button>
  
</ion-content>
