<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Smart-Eldercare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      # of Movements per room
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-title style="color:darkslategrey"><b>Recently detected movements:</b></ion-title>
    <ion-item-divider></ion-item-divider>
      <ion-item *ngFor="let msg of mqqtService.motionMessages">
          <ion-grid>
              <ion-row>
                  <ion-title>{{msg.getRoom()}}</ion-title>
                  <ion-card-subtitle>{{msg.getDate()}}</ion-card-subtitle>
              </ion-row>
          </ion-grid>
      </ion-item>
  </ion-list>

</ion-content>
